/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #32325d;
    margin: 0;
    padding: 0;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
    font-family: 'Roboto', sans-serif;
}

.datatable {
    width: 100% !important;
    background-color: #ffffff;
    border: 1px solid #e6ebf1;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15);
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 4px;
    background-color: #6772e5;
    color: #ffffff;
    border: none;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #e6ebf1;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #e6ebf1;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
    background: #000;
    border-color: transparent;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}
.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #000000;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
}

.btn-default:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}

.custom-select.form-control-sm {
    padding: 0.25rem 1.5rem;
}

.card .card-header {
    background-color: #000;
    color: #fff;
}

.card{
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 100px rgba(50, 50, 93, 0.15);
}

.card-footer {
    background-color: #ffffff;
    border-top: 1px solid #e6ebf1;
}

.btn {
    color: #000;
    background-color: #fff;
    border-color: #000;
}


a, a.link, a.link:hover {
    color: #000000;
}

/* change the pagination colors to black and white */
.pagination > .page-item > .page-link {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.pagination > .page-item > .page-link:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.pagination > .page-item.active > .page-link {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.hide{
    display: none!important;
}
